/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container-body {
    margin: 50px 140px;
}

.container {
    display: flex;
    background: #161616;
    border-radius: 30px;
    margin-bottom: 130px;
}

.container:hover {
    background-color: rgb(124, 107, 159);
}

.banner-details {
    color: #FFFFFF;
    margin: 50px 70px 0px 100px;

}

.top-banner {
    font-family: 700;
    font-size: 70px;
    Line-height: 80px;
}

.top-banner-text {
    font-weight: 100;
    font-size: 16px;
    line-height: 26px;
    margin-right: -8px;
    margin-top: -10px;
    padding-bottom: 15px;
}

.link-part {
    display: inline-block;
    padding: 12px 25px 12px 25px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    background-color: red;
}

.link-part:hover {
    background-color: rgb(18, 31, 53);
}

.link a {
    text-decoration: none;
    color: #ffffff;
}

.image-part {
    margin: 30px 50px -7px -48px;

}

.image-part img {
    width: 581px;
    height: 613px;
}

/*------------------------
    start body section 
-------------------------- */

.main-part {
    margin-bottom: 120px;
}

.main-section {
    display: flex;
    flex-direction: row;
    row-gap: 10px;
}

.menu-section {
    padding-right: 25px;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: black;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.menu-bar a {
    color: black;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid red;
    text-align: center;
    margin: 10px;
    padding: 15px;
    width: 200px;
    height: 25px;

}

.menu-bar a:hover {
    background-color: red;
    color: #ffffff;

}

.blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.blog-section {
    border: 2px solid #E8E8E8;
    border-radius: 10px;
}

.blog-bar a:hover {
    background-color: red;
    color: #ffffff;
}

.blog-bar img {
    width: 100%;
    margin-bottom: 15px;
}

.blog-btn {
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 15px;

}

.blog-details {
    margin: 15px;
    color: black;
    font-size: 16px;
}

.match-details {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    column-gap: 10px;
    margin-left: 15px;
    margin-bottom: 20px;

}

.match-time {
    margin-right: 20px
}



.button {
    text-align: center;
    margin-top: 60px;
}

.button a {
    width: 128px;
    height: 58px;
    background-color: red;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 21px;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}

.button a {
    visibility: hidden;
}


/*----------------------- 
    footer section 
------------------------- */

.footer-name {
    width: 100%;
    background-color: #161616;
    color: #ffffff;
    text-align: center;

}

.goal-footer {
    padding-top: 130px;
    padding-bottom: 30px;
    font-size: 40px;
}

hr {
    width: 1300px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-link {
    padding-top: 40px;
}

.footer-link a {
    text-decoration: none;
    color: #B9B9B9;
    padding: 25px;
    margin-top: 80px;
}

.social-icon {
    margin-top: 15px;
    padding: 20px;
}

.icon {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    column-gap: 50px;
}

.icon a {
    background-color: #161616;
    color: #6a51c2;
    padding: 0 7px;
    border-radius: 25px;
    font-size: 25px;

}